local: &local
  adapter: postgresql
  username: oksana
  password: pswd 
  host: localhost

development:
  <<: *local
  database: pm_dev

test:
  <<: *local
  database: pm_test

production:
  <<: *local
  database: pm_production

